# ==========================================
# MOFFAT BAY MARINA DATABASE - EXAMPLE ONLY
# ==========================================
#
# Do NOT put real passwords in this file. It is committed to GitHub.
#
# 
#
# The seed tools (GreenTeamDataBase, SlipCapacityDemoData) also read
# MARINA_DB_HOST, MARINA_DB_PORT and MARINA_DB_NAME, and need a user that is
# allowed to create/drop the database.

db.url=jdbc:mysql://localhost:3306/moffat_bay?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
db.username=Green
db.password=GreenTeam

db.driver=com.mysql.cj.jdbc.Driver
db.host=localhost
db.port=3306
db.name=moffat_bay


